<h1><%= @task.title %></h1>
<% if @task.is_complete %>
    <button disabled>Done</button>
<% else %>
    <%= link_to(
        'Complete',
        complete_task_path(@task.id)
    )%>
<% end %>
<div>
    <%= link_to(
        'Edit',
        edit_task_path(@task),
    )%>
    |
    <%= link_to(
        'Delete', 
        task_path(@task),
        method: :delete,
        data: { confirm: 'are you sure?' }
    )%>
</div>