<h1><%= @task.title %></h1>
<% if @task.is_complete %>
    <button disabled>Done</button>
<% else %>
    <button>Complete</button>
<% end %>
<div>
    <%= link_to(
        'Delete', 
        task_path(@task),
        method: :delete,
        data: { confirm: 'are you sure?' }
    )%>
</div>